*{
    font-family: 'Courier New', Courier, monospace;
    border: non;
}
body{
    margin-top: 50px;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
border: 1px solid black;
margin: 10px;
width: auto;
background-color: black;
border: 2px solid rgb(255, 115, 0);
}
#display{
    text-align: center;
    margin: 10px;
}
input{
width: 100%;
font-size: 1.4em;
}
#buttons{
    margin-top: 10px;
    border-radius: 30%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}
button{
    font-size: 1.3em;
    

}
#number-btn{
    color: white;
    background-color: rgb(109, 107, 107);
    border: none;
    transition: background-color, 0.25s;
}
#number-btn:hover{
    background-color: hsl(0, 3%, 64%);;
}
#number-btn:active{
    background-color: hsl(0, 6%, 75%);;
}

#top-Btn{
    color: white;
    background-color: rgb(177, 175, 175);
    border: none;
    transition: background-color, 0.25s;
}
#top-Btn:hover{
    background-color: rgb(223, 219, 219);;
}
#top-Btn:active{
    background-color: hsl(0, 7%, 95%);;
}
#right-Btn{
    color: white;
    background-color: rgb(202, 119, 11);
    border: none;
    transition: background-color, 0.25s;
}
#right-Btn:hover{
    background-color: rgb(233, 137, 12);;
}
#right-Btn:active{
    background-color: rgb(250, 147, 11);;
}
#complex-Btn{
    color: white;
    background-color: rgb(53, 51, 51);
    border: none;
    transition: background-color, 0.25s;
}
#complex-Btn:hover{
    background-color: rgb(100, 97, 97);;
}
#complex-Btn:active{
    background-color: rgb(150, 147, 147);;
}
